.vs
build/
*.tgz
*.bz2
bin/*.dll
*.pro.user*
.settings
obj/
libs/
bin/
gen/
Win32/
Debug/
Release/
Output/
release/
objects/
debug/
Deploy/
GeneratedFiles/
.metadata/
bin/
object_script.*
*.dta
*.ell
*-core
*.log.*
*.exe
*.lib
*.ilk
*.dll
*.exp
*.pdb
*.dta
*.log
*.ncb
*.user
*.suo
*.atsuo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*.epf
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.sdf
*.opensdf
ipch/
*.dat

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# NuGet Packages
packages/
*.nupkg

Thumbs.db

